html
  head
    if title
      title= title
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
    link(rel='stylesheet', href='css/bootstrap.min.css')
    link(rel='stylesheet', href='css/styles.css')
    script(src='js/jquery-3.2.1.min.js')
    script(src='js/bootstrap.min.js')
    script(src='js/Chart.min.js')
  body
    block content
